html {
    scroll-behavior: smooth;
  }

body{
    background-color: #efefef;
}

main{
    padding: 45px 0;
}
.menu-container {
    display: flex;
}

nav {
    background-color: #FDBD10;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}
.list {
    width: 100%;
}
.select{
    width: 100%;
    padding: 0.75em 2em;
    cursor: pointer;
}

.select:hover{
    background-color: #0066B2;
    color: white;
}

.select.-on{
    background-color: #0066B2;
    color: white;
}

section {
    flex-grow: 9;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
}

.menu-btn {
    min-width: 120px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FDBD10;
    color: #000;
    text-decoration: none;
}

.menu-btn:hover {
    background-color: #0066B2;
    color: #fff;
}

hr {
    width: 100%;
    border: 1px dashed #000;
}

.card-form {
    width: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.count-btn {
    background-color: #FDBD10;
    color: #000;
    width: 25px;
    height: 25px;
    font-size: 1em;
    text-align: center;
    line-height: 25px;
    border: 0;
    border-radius: 50%;
}

.count-number {
    width: 2em;
    height: 25px;
    font-size: 1.5em;
    text-align: center;
    line-height: 25px;
    border: 0;
    background-color: #0066B2;
    color: #fff;
}
/* for menu card */
.each_block {
    width: 100%;
}

.menu-card {
    background-color: #0066B2;
    width: 95%;
    height: 100px;
    display: flex;
    justify-content: space-between;

    padding: 0 2em;
    align-items: center;
    color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
    /* flex-wrap: wrap; */
}

.cardStyle{
    padding-right: 1.5em;
}

.title {
    margin-left: 1.25em;
    margin-bottom: 1em;
    letter-spacing: 0.25em;
}

.count-submit {
    background: #EC1C24;
    color: #fff;
    width: 40px;
    line-height: 25px;
    border-radius: 10px;
    border: 0;
}

.menu-card {
    width: 100%;
    margin-bottom: 15px;
}

.navItem {
    text-decoration: none;
}