<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;700&family=Roboto+Mono:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./css/opcss.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/reservation.css">
    <title>Menu</title>
</head>

<body>
    <div class="container" id="reservation">

        <top-bar></top-bar>

        <main>
            <div class="re-t">
                <article>
                    <h1>
                        預定內用
                    </h1>
                    <p class="p-1">
                        本店座位有限，如有多人內用。歡迎使用本區塊進行預定。<br>
                        我們的的預定有以下幾條規則，請在詳細閱讀後再進行預定。<br>
                        預定座位將加收10%服務費。<br>
                        只能預定一個用餐時段(中午/晚上)。<br>
                        每個座位至少要有一份餐點。<br>
                        需預先付款。<br>
                        如有行程變動導致無法如約前來，將不退還服務費。<br>
                        本店有三個區塊接受預訂，請看<span class="rwd"></span>進行預覽。<br>
                    </p>
                </article>
                <reservation-swiper></reservation-swiper>
            </div>
            <!-- select time bar -->
            <div class="re-t">
                <div class="row wrap">
                    <div class="col-3">
                        <nav class="col-12 p-1 mt-1 mb-1">
                            <p class="mb-1" :class="index === 0 ? 'red' : ''">Step.1 選擇時間</p>
                            <p class="mb-1" :class="index === 1 ? 'red' : ''">Step.2 選擇區域</p>
                            <p class="mb-1" :class="index === 2 ? 'red' : ''">Step.3 預約餐點</p>
                            <p class="mb-1" :class="index === 3 ? 'red' : ''">Step.4 線上付款</p>
                        </nav>
                    </div>
                    <!-- index 0 選擇時間-->
                    <div v-if="index === 0" class="col-9">
                        <div>
                            <div class="row p-1">
                                <h1 class="sp-1">選擇時間</h1>
                            </div>
                            <div class="row p-1 align-item-center">
                                <p class="me-1">用餐人數為:</p>
                                <input id="countMember" type="text" class="me-1 typeInput">
                                <label for="countMember">人</label>
                            </div>
                            <div class="row p-1 align-item-center">
                                <p class="me-1">訂位時間為:</p>
                                <input type="date" id="inputDate" class="me-1 typeInput">
                                <select class="typeInput">
                                    <option value="1">中午</option>
                                    <option value="2">晚上</option>
                                </select>
                            </div>
                            <div class="row col-12 justify-end p-1">
                                <button type="button" class="btn-3" @click="next(1)">下一步</button>
                            </div>
                        </div>
                    </div>
                    <!-- index 1 選擇區域-->
                    <div v-if="index === 1" class="col-9">
                        <div>
                            <div class="row p-1">
                                <h1 class="sp-1">選擇區域</h1>
                            </div>
                            <div class="row p-1 align-item-center">
                                <p class="me-1">您所預定地包間為:</p>
                                <select class="typeInput">
                                    <option value="1">藍星: 第一間</option>
                                    <option value="2">藍星: 第二間</option>
                                    <option value="3">藍星: 第三間</option>
                                </select>
                            </div>
                            <div class="row p-1 align-item-center">
                                <p class="me-1">等待選擇時間</p>
                            </div>
                            <div class="row col-12 justify-end p-1">
                                <button type="button" class="btn-3" @click="next(2)">下一步</button>
                            </div>
                        </div>
                    </div>
                    <!-- index 2 預約餐點-->
                    <div v-if="index === 2" class="col-9">
                        <div>
                            <div class="row p-1">
                                <h1 class="sp-1">預約餐點</h1>
                            </div>
                            <div class="row p-1 align-item-center">
                                <p class="me-1">用餐人數為:</p>
                                <input id="countMember" type="text" class="me-1 typeInput">
                                <label for="countMember">人</label>
                            </div>
                            <div class="row p-1 align-item-center">
                                <p class="me-1">訂位時間為:</p>
                                <input type="date" id="inputDate" class="me-1 typeInput">
                                <select class="typeInput">
                                    <option value="1">中午</option>
                                    <option value="2">晚上</option>
                                </select>
                            </div>
                            <div class="row col-12 justify-end p-1">
                                <button type="button" class="btn-3" @click="next(3)">下一步</button>
                            </div>
                        </div>
                    </div>
                    <!-- index 3 線上付款-->
                    <div v-if="index === 3" class="col-9">
                        <div>
                            <div class="row p-1">
                                <h1 class="sp-1">線上付款</h1>
                            </div>
                            <div class="row p-1 align-item-center">
                                <p class="me-1">用餐人數為:</p>
                                <input id="countMember" type="text" class="me-1 typeInput">
                                <label for="countMember">人</label>
                            </div>
                            <div class="row p-1 align-item-center">
                                <p class="me-1">訂位時間為:</p>
                                <input type="date" id="inputDate" class="me-1 typeInput">
                                <select class="typeInput">
                                    <option value="1">中午</option>
                                    <option value="2">晚上</option>
                                </select>
                            </div>
                            <div class="row col-12 justify-end p-1">
                                <button type="button" class="btn-3">提交</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>

        <foot></foot>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./js/header.js"></script>
    <script type="module">
        import { createApp, ref, reactive } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
        import Foot from './js/components/Foot.js';
        import TopBar from './js/components/TopBar.js'
        import ReservationSwiper from './js/components/ReservationSwiper.js'


        createApp({
            components: {
                TopBar,
                Foot,
                ReservationSwiper
            },
            setup() {
                const index = ref(0);

                const next = function changeTheCartIndex(value){
                    index.value = value;
                }
                return {
                    index,
                    next
                }
            }
        }).mount('#reservation');
    </script>
</body>

</html>